<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maxinum-scale=1,width=device-width">
    <link rel="stylesheet" th:href="${#servletContext.contextPath}+'/webjars/bootstrap/4.3.1/css/bootstrap.min.css'" href="/keshe2019/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" th:src="${#servletContext.contextPath}+'/webjars/jquery/3.4.1/jquery.min.js'" src="/keshe2019/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="${#servletContext.contextPath}+'/webjars/popper.js/1.14.3/esm/popper.min.js'" src="/keshe2019/webjars/popper.js/1.14.3/esm/popper.min.js"></script>
    <script type="text/javascript" th:src="${#servletContext.contextPath}+'/webjars/bootstrap/4.3.1/js/bootstrap.min.js'" src="/keshe2019/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h4 class="mt-3">修改个人信息</h4>
    <form th:action="${#servletContext.contextPath}+'/student/upd'">
        <div class="form-group">
            <label for="t">姓名</label>
            <input type="text" class="form-control" th:name="name" id="t" th:value="${stu.name}">
        </div>
        <div class="form-group">
            <label for="p">电话</label>
            <input type="text" class="form-control" th:name="phone"  id="p" th:value="${stu.phone}">
        </div>
        <button type="submit" class="btn btn-primary">确定</button>
    </form>
</div>
</body>
</html>