<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maxinum-scale=1,width=device-width">
    <link rel="stylesheet" href="/keshe2019/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/keshe2019/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/keshe2019/webjars/popper.js/1.14.3/esm/popper.min.js"></script>
    <script type="text/javascript" src="/keshe2019/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

</body>
</html>