<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maxinum-scale=1,width=device-width">
    <link rel="stylesheet" href="/keshe2019/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/keshe2019/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/keshe2019/webjars/popper.js/1.14.3/esm/popper.min.js"></script>
    <script type="text/javascript" src="/keshe2019/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function checkAll() {
            var selectFlag = document.getElementsByName("selectFlag");
            for (var i = 0; i < selectFlag.length; i++) {
                selectFlag[i].checked = document.getElementById("ifAll").checked;
            }
        }
        function selectComment() {
            var selectFlag = document.getElementsByName("selectFlag");
            var flag = false;
            for (var i = 0; i < selectFlag.length; i++) {
                if (selectFlag[i].checked) {
                    flag = true;
                    break;
                }
            }
            if (!flag) {
                alert("请选择需要删除的数据！");
                return;
            }
            if (window.confirm("确认删除吗？")) {
                document.getElementById("studentform").submit();
            }
        }
        function importData() {
            document.import.submit();
        }

        function exportData() {
            document.exportdata.submit();
        }

    </script>
</head>
<body>
<div>
    <form action="#" th:name="import" method="get" th:action="${#servletContext.contextPath}+'/user/importPre'" name="import"></form>
    <form action="#" th:name="exportdata" method="get" th:action="${#servletContext.contextPath}+'/user/export'"></form>
    <div class="container">
        <div class="btn-group m-2 mb-2">
            <button type="button" class="btn btn-danger" onclick="selectComment()">删除选中</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" onclick="importData()">导入数据</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" onclick="exportData()">导出数据</button>&nbsp;&nbsp;
            <h3 class="text-danger">[[${msg}]]</h3>
        </div>
    </div>
    <form id="studentform" name="studentform" th:action="${#servletContext.contextPath}+'/user/deletebatch'" action="" method="post">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="10"  align="center">
                    <input type="checkbox" name="ifAll" id="ifAll"
                           onClick="checkAll()">
                </th>
                <th>学号</th>
                <th>姓名</th>
                <th>学院</th>
                <th>填写志愿信息</th>
                <th>最终确定专业</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${studentList}">
                <td>
                    <input type="checkbox" name="selectFlag" th:value="${student.sid}">
                </td>
                <td th:text="${student.account}">20164081101</td>
                <td th:text="${student.name}">张三</td>
                <td th:text="${student.college!=null?student.college.name:'未选择'}"></td>
                <td th:text="${((student.wish)==null || (student.wish)=='')?'未填写':(student.wish)}"></td>
                <td th:text="${(student.major)!=null ? (student.major.name) : '未分配'}"></td>
                <td>
                    <a class="btn btn-danger" th:href="${#servletContext.contextPath}+'/user/delete?sid='+${student.sid}" onclick="javascript:return confirm('是否要删除?');">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="container">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">共[[${pages}]]页</a></li>
            <li class="page-item"><a class="page-link" th:if="${page!=1}" th:href="${#servletContext.contextPath}+'/user/studentlist?page=1'" href="#">首页</a></li>
            <li class="page-item"><a class="page-link" th:if="${page!=1}" th:href="${#servletContext.contextPath}+'/user/studentlist?page='+${page-1}" href="#" >上一页</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">第[[${page}]]页</a></li>
            <li class="page-item"><a class="page-link" th:if="${page!=pages}" th:href="${#servletContext.contextPath}+'/user/studentlist?page='+${page+1}" href="#">下一页</a></li>
            <li class="page-item"><a class="page-link" th:if="${page<pages}" th:href="${#servletContext.contextPath}+'/user/studentlist?page='+${pages}" href="#">尾页</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">每页[[${elements}]]条</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">共计[[${totals}]]条</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="page-item">
                <form action="" method="post">
                    <p class="page-item page-link  float-left text-black-50">第</p>
                    <input name="page" class="page-link w-25 float-left">
                    <p class="page-link  float-left text-black-50">页</p>
                    <button type="submit"  class="btn btn-success page-link float-left">跳 转</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
